@using Microsoft.AspNetCore.Server.Kestrel.Core
@model CleanOff.Domain.Order

@{
    ViewBag.Title = "Проверка заказа";
    Layout = "_EmployeePanelLayout";
}

<h1>Подтверждение заказа</h1>

<h2>Информация о заказе:</h2>
<h3>Номер заказа @Model.OrderId</h3>
<h3>Описание заказа:</h3>
<h3>@Model.Description</h3>

@if (Model.Address != null)
{
    <h3>Адрес: @Model.Address</h3>
}

<h2>Информация о клиенте</h2>
<h3>Имя: @Model.Client.Name</h3>
<h3>Фамилия: @Model.Client.Surname</h3>
<h3>Номер: @Model.Client.Phone</h3>

<label for="price">Цена заказа:</label>
<input type="number" name="price" id="price" />
<button type="button" id="confirmOrderBtn">Подтвердить</button>

<script>
    const confirmBtn = document.getElementById("confirmOrderBtn");
    confirmBtn.addEventListener('click', () => {
        const price = document.getElementById("price").value;
            fetch(`/employee/order/check/confirm?orderId=@Model.OrderId&price=${price}`, {
                 method: 'GET',
            }).then(response => response.text())
            .catch(error => console.log(error));  
    })
</script>

<button><a href="/employee/order/check/updateAndConfirm?orderId=@Model.OrderId">Изменить</a></button>
<button type="button"><a href="/employee/order/check/reject?orderId=@Model.OrderId">Удалить</a></button>